body{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: transparent;
	overflow: hidden;
}
.background{
	&:extend(body);
	z-index: -1;
	#gradient > .vertical(#20164e,#31cae5,0%,100%);
}
.page{
	&:extend(body);
	.title{
		text-align: center;
		width: 100%;
		color:#fff;
		font-size: 32px;
		font-weight: normal;
		line-height: 45px;
		position: absolute;
		top: 5%;
		.logo{
			display: inline-block;
			line-height: inherit;
			.size(auto,45px);
			img{
				.square(inherit);
			}
		}
		.text{
			height: inherit;
			display: inline-block;
		}
		.golink{
			height: 45px;
			padding: 8px 10px;
			border:1px solid #fff;
			color: #fff;
			font-size: 18px;
			text-decoration: none;
		}
	}
}
@-webkit-keyframes testadmin{
	0%{transform:scale(1);}
	100%{transform:scale(10);}
}

@-webkit-keyframes animatemass1{
	0%{-webkit-transform:scale(1) translate(-10%,10%) rotate3d(0,1,0,0deg);}
	50%{-webkit-transform:scale(1.1) translate(-10%,10%) rotate3d(0,1,0,180deg);}
	100%{-webkit-transform:scale(1) translate(-10%,10%) rotate3d(0,1,0,360deg);}
}

@-webkit-keyframes animatemass2{
	0%{-webkit-transform:scale(0.8) translate(10%,-5%) rotate3d(0,1,0,0deg);}
	50%{-webkit-transform:scale(0.9) translate(10%,-5%) rotate3d(0,1,0,180deg);}
	100%{-webkit-transform:scale(0.8) translate(10%,-5%) rotate3d(0,1,0,360deg);}
}



.page{
	.animatemass{
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		margin: auto;
		.size(50%,50%);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
	}
	.animatemass1{
		background-image: url(../images/pic1_1.png);
		-webkit-transform:scale(1)  translate(-10%,10%) rotate3d(0,1,0,0deg);
		-webkit-animation: animatemass1 10s ease-in-out 0s infinite;
		background-size:auto 100%; 
	}
	.animatemass2{
		background-image: url(../images/pic1_2.png);
		-webkit-transform:scale(0.8) translate(10%,-5%) rotate3d(0,1,0,0deg);
		-webkit-animation: animatemass2 10s ease-in-out 1.5s infinite;
	}
}


.pagemark{
	.size(50px,90px);
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -45px;
	.marktag{
		display: block;
		.square(8px);
		margin: 8px auto;
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.5)
	}
	.current{
		background-color: rgba(255, 255, 255, 1)
	}
}