body{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: transparent;
	overflow: hidden;
}
.background{
	&:extend(body);
	z-index: -1;
	#gradient > .vertical(#20164e,#31cae5,0%,100%);
}

.page{
	.translate(0,100%);
	&:extend(body);
	&:first-child{	
		.translate(0,0);
	}
	.textbox{
		.size(300px,auto);
		position: absolute;
		top: 40%;
		right: 10%;
		.text{
			.size(100%,90px);
			display:block;
			font-size: 40px;
			line-height: 90px;
			color:#fff;
			text-align: center;
			background-color: #51a7f9;
		}
		p{
			color:#fff;
			font-size: 16px;
		}
	}
	.title{
		text-align: left;
		width: 100%;
		color:#fff;
		font-size: 20px;
		font-weight: normal;
		line-height: 30px;
		position: absolute;
		padding-left: 20px;
		padding-top: 20px;
		top: 0%;
		.logo{
			display: inline-block;
			line-height: inherit;
			.size(auto,30px);
			img{
				.square(inherit);
			}
		}
		.text{
			height: inherit;
			display: inline-block;
		}
		.golink{
			height: 30px;
			padding: 6px 8px;
			border:1px solid #fff;
			color: #fff;
			font-size: 16px;
			text-decoration: none;
		}
	}
	.animatemass,.animatemass37_1{
		position: absolute;
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0;
		margin: auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
	}
	//page1
	&:nth-child(4){
		//标题
		.title{
			text-align: center;
			width: 100%;
			color:#fff;
			font-size: 32px;
			font-weight: normal;
			line-height: 45px;
			position: absolute;
			top: 5%;
			.logo{
				display: inline-block;
				line-height: inherit;
				.size(auto,45px);
				img{
					.square(inherit);
				}
			}
			.text{
				height: inherit;
				display: inline-block;
			}
			.golink{
				height: 45px;
				padding: 8px 10px;
				border:1px solid #fff;
				color: #fff;
				font-size: 18px;
				text-decoration: none;
			}
		}
		//动画
		.animatemass{
			.size(50%,50%);
		}
		.animatemass1{
			background-image: url(../images/pic1_1.png);
			-webkit-transform:scale(1)  translate(-10%,10%) rotate3d(0,1,0,3600deg);
			-webkit-animation: animatemass1 10s ease-in-out 0s infinite;
			background-size:auto 100%; 
		}
		.animatemass2{
			background-image: url(../images/pic1_2.png);
			-webkit-transform:scale(0.8) translate(10%,-5%) rotate3d(0,1,0,0deg);
			-webkit-animation: animatemass2 10s ease-in-out 1s infinite;
		}
	}
	//page2
	&:nth-child(2){
		//圈圈
		.animatemass{
			background-size:auto 100%; 
		}
		.animatemass21{
			background-image: url(../images/pic2_1.png);
			.animatemass21_(rotate(0deg));
			-webkit-animation: animatemass21 2s ease-in-out 0s infinite;
		}
		.animatemass22{
			background-image: url(../images/pic2_2.png);
			.animatemass21_(rotate(1080deg));
			-webkit-animation: animatemass22 2s ease-in-out 0s infinite;
		}
		.animatemass23{
			background-image: url(../images/pic2_3.png);
			.animatemass21_(rotate(0deg));
		}
		.animatemass24{
			background-image: url(../images/logo.png);
			-webkit-transform:translate(-20%,0) scale(0.1);
		}


		//圈圈
		@animatemass25_x:-4%;
		@animatemass25_y:22%;
		.animatemass25{
			background-image: url(../images/pic2_5.png);
			-webkit-transform:translate(@animatemass25_x,@animatemass25_y) scale(0.09);
		}
		@animatemass26_x:-33%;
		@animatemass26_y:23%;
		.animatemass26{
			background-image: url(../images/pic2_6.png);
			-webkit-transform:translate(@animatemass26_x,@animatemass26_y) scale(0.1);
		}
		@animatemass27_x:-47%;
		@animatemass27_y:-5%;
		.animatemass27{
			background-image: url(../images/pic2_7.png);
			-webkit-transform:translate(@animatemass27_x,@animatemass27_y) scale(0.08);
		}
		@animatemass28_x:-27%;
		@animatemass28_y:-22%;
		.animatemass28{
			background-image: url(../images/pic2_8.png);
			-webkit-transform:translate(@animatemass28_x,@animatemass28_y) scale(0.07);
		}
		@animatemass29_x:4%;
		@animatemass29_y:-9%;
		.animatemass29{
			background-image: url(../images/pic2_9.png);
			-webkit-transform:translate(@animatemass29_x,@animatemass29_y) scale(0.08);
		}


		//光
		.animatemass210,.animatemass211,.animatemass212,.animatemass213,.animatemass214{
			background-size:50% auto;
		}
		.animatemass210{
			background-image: url(../images/pic2_10.png);
			.animatemass210_(translate(@animatemass25_x,@animatemass25_y) rotate(-125deg));
			background-position: 200% 50%;
			-webkit-animation: animatemass210 2s ease-in-out 0s infinite;
		}
		.animatemass211{
			background-image: url(../images/pic2_10.png);
			.animatemass210_(translate(@animatemass26_x,@animatemass26_y) rotate(-61deg));
			background-position: 200% 50%;
			-webkit-animation: animatemass210 2s ease-in-out 0s infinite;
		}
		.animatemass212{
			background-image: url(../images/pic2_10.png);
			.animatemass210_(translate(@animatemass27_x,@animatemass27_y) rotate(11deg));
			background-position: 200% 50%;
			-webkit-animation: animatemass210 2s ease-in-out 0s infinite;
		}
		.animatemass213{
			background-image: url(../images/pic2_10.png);
			.animatemass210_(translate(@animatemass28_x,@animatemass28_y) rotate(70deg));
			background-position: 200% 50%;
			-webkit-animation: animatemass210 2s ease-in-out 0s infinite;
		}
		.animatemass214{
			background-image: url(../images/pic2_10.png);
			.animatemass210_(translate(@animatemass29_x,@animatemass29_y) rotate(160deg));
			background-position: 200% 50%;
			-webkit-animation: animatemass210 2s ease-in-out 0s infinite;
		}
	}
	//page3
	&:nth-child(3){
		//盒子
		.animatemass31{
			background-image: url(../images/pic3_1.png);
			.animatemass31_(translateX(-100%));
			-webkit-animation: animatemass31 4s ease-in-out 0s infinite;
		}
		.animatemass32{
			background-image: url(../images/pic3_1.png);
			.animatemass32_(translateX(-100%));
			-webkit-animation: animatemass32 4s ease-in-out 0s infinite;
		}
		.animatemass33{
			background-image: url(../images/pic3_1.png);
			.animatemass33_(translateX(-100%));
			-webkit-animation: animatemass33 4s ease-in-out 0s infinite;
		}

		//钟
		.animatemass34{
			background-image: url(../images/pic3_4.png);
			.animatemass34_(rotate(0deg));
			-webkit-animation: animatemass34 4s ease-in-out 0s infinite;
		}
		.animatemass35{
			background-image: url(../images/pic3_5.png);
			.animatemass34_(rotate(0deg));
			// -webkit-animation: animatemass33 4s ease-in-out 0s infinite;
		}

		//车子
		.animatemass36{
			background-image: url(../images/pic3_6.png);
			.animatemass36_();
		}
		.animatemass37{
			.animatemass37_(scale(0.1));
			background-image: url(../images/pic3_7.png);
			-webkit-animation: animatemass37 2s linear 0s infinite;
		}
		.animatemass38{
			.animatemass38_(scale(0.1));
			background-image: url(../images/pic3_7.png);
			-webkit-animation: animatemass38 2s linear 0s infinite;
		}

		//光
		.animatemass39{
			background-image: url(../images/pic2_10.png);
			.animatemass39_(translateX(-50%));
			-webkit-animation: animatemass39 4s linear 0s infinite;
		}
		.animatemass310{
			background-image: url(../images/pic2_10.png);
			.animatemass310_(translateX(-50%));
			-webkit-animation: animatemass310 4s linear 0s infinite;

		}
		.animatemass311{
			background-image: url(../images/pic2_10.png);
			.animatemass311_(translateX(-50%));
			-webkit-animation: animatemass311 4s linear 0s infinite;
		}
		.animatemass312{
			background-image: url(../images/pic2_10.png);
			.animatemass312_(translateX(-50%));
			-webkit-animation: animatemass312 4s linear 0s infinite;
		}
	}
	//page4
	&:nth-child(1){
		.animatemass{
			&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
				background-size:auto 100%; 
			}
		}
		.animatemass41{
			background-image: url(../images/pic3_1.png);
			.animatemass31_(translateX(-100%));
			-webkit-animation: animatemass31 4s ease-in-out 0s infinite;
		}
	}
	//page5
	&:nth-child(5){
		.textbox{
			h3{
				color:#fff;
				font-size: 30px;
			}
			.text{
				height: 70px;
				line-height: 70px;
				background-color: #70bf40;
			}
		}
		.animatemass{
			&:nth-child(1){
				background-size:auto 100%; 
			}
		}
		.animatemass51{
			background-image: url(../images/pic5_1.png);
			.animatemass51_(scale(0));
			-webkit-animation: animatemass51 4s ease-in-out 0s infinite;

		}
	}
	//page6
	&:nth-child(6){
		.logo{
			.size(100%,50px);
			bgckground-image:url(../images/pic3_1.png);
			background-size: auto 100%;
			background-position: center;
			text-align: center;
		}
		.loginbox{
			border-radius: 10px;
			margin: 0 auto;
			width: 300px;
			background-color: rgba(255, 255, 255, 0.4);
			border: 1px solid #fff;
			.logintextbox{
				position: relative;
				.size(100%,50px);
				&:last-child{
					.logintext{
						border-bottom: none;
					}
				}
				.logintext{
					padding-left: 35px;
					.size(inherit,inherit);
					background-color: transparent;
					border:none;
					border-bottom:1px solid #fff;
					color:#fff;
				}
				.logintext::-webkit-input-placeholder {
					padding-left: 10px;
					color:#fff;
				}
				.logintextlabel{
					.size(20px,20px);
					// background-color: #fff;
					position: absolute;
					left:10px;
					top:15px;
				}
			}//.logintextbox
		}//.loginbox
		.loginbtn,.siginbtn{
			.size(300px,40px);
			background-color: #2c70ad;
			border-radius: 8px;
			margin: 10px auto;
			line-height: 40px;
			text-align: center;
			color: #fff;
		}
		.loginbtn+p{
			.size(300px,25px);
			padding-top: 5px;
			margin: 0 auto;
			color: #fff;
		}
		.siginbtn{
			background-color: #52cb58;
		}
	}
}

//page4




//page2
.animatemass21_(@a){-webkit-transform:translate(-20%,0) scale(0.3) @a;}
.animatemass210_(@a){-webkit-transform:@a scale(0.35);}

@-webkit-keyframes animatemass21{
	0%{.animatemass21_(rotate(0deg));}
	100%{.animatemass21_(rotate(1080deg));}
}
@-webkit-keyframes animatemass22{
	0%{.animatemass21_(rotate(1080deg));}
	100%{.animatemass21_(rotate(0deg));}
}
@-webkit-keyframes animatemass210{
	0%{background-position:200%;}
	50%{background-position:200%;}
	100%{background-position:100%;}
}


//page3

.animatemass31_(@a){-webkit-transform:@a translateY(-20%) scale(0.08);}
.animatemass32_(@a){-webkit-transform:@a translateY(-0%) scale(0.13);}
.animatemass33_(@a){-webkit-transform:@a translateY(20%) scale(0.2);}

.animatemass34_(@a){-webkit-transform:translateX(-11.5%) translateY(-6.5%) scale(0.45) @a;}

@animatemass36_x:11.5%;
@animatemass36_y:6.5%;
.animatemass36_(){-webkit-transform:translate(@animatemass36_x,@animatemass36_y) scale(0.25);}
//4.4%,11.9%
.animatemass37_(@a){-webkit-transform:translate(@animatemass36_x+7.4%,@animatemass36_y+4.9%) @a;}
//-10.3%,11.9%
.animatemass38_(@a){-webkit-transform:translate(@animatemass36_x+-7.3%,@animatemass36_y+4.9%) @a;}

.animatemass39_(@a){-webkit-transform:@a  translateY(-30%) scale(0.1) rotate(180deg);}
.animatemass310_(@a){-webkit-transform:@a  translateY(-12%) scale(0.15) rotate(180deg);}
.animatemass311_(@a){-webkit-transform:@a  translateY(-10%) scale(0.2) rotate(180deg);}
.animatemass312_(@a){-webkit-transform:@a  translateY(10%) scale(0.3) rotate(180deg);}

//光
@-webkit-keyframes animatemass39{
	0%{.animatemass39_(translateX(-100%));}
	10%{.animatemass39_(translateX(-100%));}
	25%{.animatemass39_(translateX(-65%));}
	55%{.animatemass39_(translateX(-55%));}
	100%{.animatemass39_(translateX(100%));}
}
@-webkit-keyframes animatemass310{
	0%{.animatemass310_(translateX(-100%));}
	25%{.animatemass310_(translateX(-80%));}
	50%{.animatemass310_(translateX(-70%));}
	90%{.animatemass310_(translateX(80%));}
	100%{.animatemass310_(translateX(100%));}
}
@-webkit-keyframes animatemass311{
	0%{.animatemass311_(translateX(-100%));}
	25%{.animatemass311_(translateX(-60%));}
	50%{.animatemass311_(translateX(-55%));}
	90%{.animatemass311_(translateX(100%));}
	100%{.animatemass311_(translateX(100%));}
}
@-webkit-keyframes animatemass312{
	0%{.animatemass312_(translateX(-100%));}
	35%{.animatemass312_(translateX(-100%));}
	45%{.animatemass312_(translateX(-55%));}
	65%{.animatemass312_(translateX(-50%));}
	100%{.animatemass312_(translateX(100%));}
}

//盒子
@-webkit-keyframes animatemass31{
	0%{.animatemass31_(translateX(-100%));}
	20%{.animatemass31_(translateX(-100%));}
	50%{.animatemass31_(translateX(-35%));}
	75%{.animatemass31_(translateX(-30%));}
	100%{.animatemass31_(translateX(100%));}
}
@-webkit-keyframes animatemass32{
	0%{.animatemass32_(translateX(-100%));}
	20%{.animatemass32_(translateX(-100%));}
	50%{.animatemass32_(translateX(-10%));}
	75%{.animatemass32_(translateX(-5%));}
	100%{.animatemass32_(translateX(100%));}
}
@-webkit-keyframes animatemass33{
	0%{.animatemass33_(translateX(-100%));}
	20%{.animatemass33_(translateX(-100%));}
	50%{.animatemass33_(translateX(-40%));}
	75%{.animatemass33_(translateX(-35%));}
	100%{.animatemass33_(translateX(100%));}
}
//钟
@-webkit-keyframes animatemass34{
	0%{.animatemass34_(rotate(0deg));}
	100%{.animatemass34_(rotate(720deg));}
}

//轮子
@-webkit-keyframes animatemass37{
	0%{.animatemass37_(scale(0.11));}
	25%{.animatemass37_(scale(0.09));}
	50%{.animatemass37_(scale(0.11));}
	75%{.animatemass37_(scale(0.09));}
	100%{.animatemass37_(scale(0.11));}
}
@-webkit-keyframes animatemass38{
	0%{.animatemass38_(scale(0.11));}
	25%{.animatemass38_(scale(0.09));}
	50%{.animatemass38_(scale(0.11));}
	75%{.animatemass38_(scale(0.09));}
	100%{.animatemass38_(scale(0.11));}
}



//page1
@-webkit-keyframes animatemass1{
	0%{-webkit-transform:scale(1) translate(-10%,10%) rotate3d(0,1,0,0deg);}
	50%{-webkit-transform:scale(1.1) translate(-10%,10%) rotate3d(0,1,0,180deg);}
	100%{-webkit-transform:scale(1) translate(-10%,10%) rotate3d(0,1,0,360deg);}
}

@-webkit-keyframes animatemass2{
	0%{-webkit-transform:scale(0.8) translate(10%,-5%) rotate3d(0,1,0,0deg);}
	50%{-webkit-transform:scale(0.9) translate(10%,-5%) rotate3d(0,1,0,180deg);}
	100%{-webkit-transform:scale(0.8) translate(10%,-5%) rotate3d(0,1,0,360deg);}
}



//page5
.animatemass51_(@a){-webkit-transform:translateX(-20%) translateY(0%) @a;}

@-webkit-keyframes animatemass51{
	0%{.animatemass51_(scale(0));}
	100%{.animatemass51_(scale(0.5));}
}



.pagemark{
	.size(50px,90px);
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -45px;
	.marktag{
		display: block;
		.square(8px);
		margin: 8px auto;
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.5)
	}
	.current{
		background-color: rgba(255, 255, 255, 1)
	}
}